* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.wrapper {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/* header */
.top_header {
  padding: 1.5em 0;
}
.top_header .logo {
  float: left;
  text-transform: uppercase;
  font-size: 1.15em;
  font-weight: 700;
}
.logo span {
  font-weight: 300;
  color: #73e298;
}
.main_nav {
  float: right;
  font-size: .9em;
  padding-top: 1em;
}
.main_nav a {
  color: #8b8b9f;
  text-decoration: none;
  margin-left: 1em;
}
.top_header .menu {
  display: none;
}
/* banner */
.banner {
  background: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 6.5em 0;
}
.banner_content_wrapper {
  width: 900px;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center
}
.poster {
  width: 275px;
  position: relative;
  float: left;
}
.featured_image {
  width: 100%;
  max-width: 100%;
  border-radius: .5em;
  -webkit-box-shadow: 0px 0px 76px 0px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 0px 76px 0px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 0px 76px 0px rgba(0, 0, 0, 0.47);
}
.play_button {
  position: absolute;
  width: 80px;
  left: 50%;
  top: 50%;
  margin: -40px 0 0 -40px;
}
.content {
  float: left;
  width: 500px;
  margin-left: 100px;
}
.content .title {
  display: inline;
  font-size: 1.75em;
  color: #FFFFFF;
}
.ratings {
  display: inline;
  margin-left: 1em;
}
.ratings i {
  font-size: 1.35em;
  margin: 0 .15em;
  color: #73e298;
}
.ratings .inactive {
  color: #bbbebf;
}
.description {
  color: #bbbebf;
  font-size: 1em;
  line-height: 2;
}
.info {
  color: #FFFFFF;
  font-size: .8em;
  font-weight: 700;
  margin-top: 3em;
}
.info span {
  margin: 0 .5em;
}

/* movies & tv show */
.top_movies,
.top_shows {
  padding: 5em 0;
}
.top_movies header,
.top_shows header {
  padding: 0 0 1.5em 0;
}
.wrapper h2,
.wrapper .view_more {
  display: inline;
}
.wrapper h2 {
  font-size: 1.75em;
}
.view_more {
  float: right;
  font-size: .8em;
  margin: .75em 3.5% 0 0;
}
.top_movies {
  border-bottom: 1px solid #d4d4d4;
}
.row {
  width: 100%;
}
.row .post {
  width: 14%;
  float: left;
  margin-right: 2.5%;
}
img {
  width: 100%;
  max-width: 100%;
  border-radius: .5em;
}
.title {
  font-size: 1.25em;
  margin: 1em 0 0 0;
  color: #252529;
}
.post_info {
  font-size: .75em;
  color: #8b8b9f;
  margin: 0.5em 0;
}

/* newsletter */
.newsletter {
  padding: 5em 0;
  text-align: center;
  background: #2a2a2e;
}
.newsletter_inner {
  width: 600px;
  max-width: 90%;
  margin: 0 auto;
}
.newsletter_inner h2 {
  font-size: 1.75em;
  color: #FFFFFF;
}
.sign_up_form {
  margin-top: 3em;
}
input[type="text"],
input[type="email"] {
  width: 48%;
  margin: 0 .5%;
  height: 3.25em;
  border: none;
  outline: none;
  border-radius: .3em;
  background: #404043;
  padding: .5em 1.25em;
  font-size: .8em;
  color: #FFFFFF;
}
.button {
  border: none;
  outline: none;
  padding: 1em 4.5em;
  border-radius: 2em;
  background: #73e298;
  color: #FFFFFF;
  font-weight: 700;
  font-size: .9em;
  margin-top: 3em;
}

/* footer */
.main_footer {
  padding: 2.5em 0;
  text-align: center;
}
.main_footer .logo {
  text-transform: uppercase;
  font-size: 1.15em;
  font-weight: 700;
}
.main_footer .copyright {
  color: #8b8b9f;
  font-size: .75em;
  margin: 0;
}
.main_footer .links {
  display: inline;
}
.main_footer .links a {
  color: #8b8b9f;
  font-size: .75em;
  text-decoration: none;
  margin: 0 .5em;
}
.links a:hover {
  color: #73e298;
}

@media only screen and (max-width: 768px) {
  .main_nav {
    display: none;
  }
  .active {
    display: block;
    width: 100%;
  }
  .active a {
    display: block;
    padding: 1em 0;
    border-bottom: 1px solid #E9E9E9;
  }
  .active a:last-child {
    border-bottom: none;
  }
  .top_header .menu {
    display: block;
    float: right;
  }
  .menu i {
    font-size: 1.5em;
    color: #252529;
    padding-top: .6em;
  }
  .banner {
    padding: 3.5em 0;
  }
  .poster {
    width: 250px;
  }
  .play_button {
    width: 60px;
    margin: -30px 0 0 -30px;
  }
  .content {
    margin-left: 50px;
  }
  .content .title {
    font-size: 1.5em;
  }
  .content .ratings i {
    font-size: 1em;
  }
  .content .description {
    font-size: .9em;
  }
  .content .info {
    font-size: .7em;
    margin-top: 2em;
  }
  .content .info span {
    margin: 0 .25em;
  }
  .top_movies,
  .top_shows {
    padding: 3em 0;
  }
  .top_movies header,
  .top_shows header {
    padding: 0 0 1.5em 1.25%;
  }
  .top_movies h2,
  .top_shows h2 {
    font-size: 1.5em;
  }
  .top_movies .view_more,
  .top_shows .view_more {
    margin: .75em 2.25% 0 0;
  }
  .row .post {
    width: 30%;
  }
  .row .post .title {
    font-size: 1em;
    margin: .5em 0 0 0;
  }
  .row .post .post_info {
    font-size: .65em;
  }
}
@media only screen and (max-width: 575px) {
  .banner_content_wrapper {
    display: block;
  }
  .poster {
    float: none;
    margin: 0 auto;
    width: 250px;
  }
  .content {
    width: 100%;
    margin: 1em auto 0;
  }
  .top_movies header,
  .top_shows header {
    margin-bottom: 2em;
  }
  .row .post {
    width: 250px;
    margin: 0 auto 2em;
    float: none;
  }
  .newsletter {
    padding: 3em 0;
  }
  .newsletter_inner h2 {
    font-size: 1.35em;
  }
  .sign_up_form {
    margin-top: 2em;
  }
  input[type="text"],
  input[type="email"] {
    width: 90%;
    margin-bottom: 1em;
  }
  .button {
    margin-top: 2em;
  }
}





